{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <h1 class="title">My Spirits</h1>
        <br>

        {% if user.userspirit_set.count == 0 %}
            <h3>Rescue some Spirits!</h3>
        {% endif %}
    </div>

    {% for spirit in userspirit_list %}
        
        <div class="container">
            <div class="card-content">
                <a href=" {% url 'spirits_detail' spirit.id %}">
                    <span class="card-title" style="display: block;">{{ spirit.name }}</span>                    
                    <img src="{{ spirit.url }}" alt="spirit photo"/>
                </a>       
                <h3>Realm: {{ spirit.realm }}</h3>
                <p>Description: {{ spirit.description }}</p>
            </div>
        </div>        
        <hr>

    {% endfor %}


{% endblock %}