{% extends 'base.html' %}

{% block content %}
<style>
    .center{
        display: flex;
        justify-content: center;
    }
</style>
    <br>
    <h1 class="title">Winged Light</h1>
    <br>

    <div class="center">
        <div class="card-content">
            <h3 class="card-title">{{ wingedlight.realm }}</h3>
            <img src="{{ wingedlight.url }}" alt="winged light location">
            <p>location: {{ wingedlight.location}}</p>
        </div>       
        <div class="card-action">
            <a href="{% url 'wingedlight_update' wingedlight.id %}" class="btn btn-outline-primary rounded-pill">Edit</a>
            <a href="{% url 'wingedlight_delete' wingedlight.id %}" class="btn btn-outline-primary rounded-pill">Delete</a>
        </div>
    </div>
    
{% endblock %}