{% extends 'base.html' %}

{% block content %}

    
    <h1>Edit Profile</h1>

    
    <form action="{% url 'add_profilepic' %}", method="POST", enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="photo-file">
        <input type="submit" value="Add Photo!">
    </form>
    <br>
    {% if user.profile.pic_url %}

        <img src="{{ user.profile.pic_url }}" alt="profile picture" id="prof-pic"/>

    {% endif %}
    

    <form action="" method="POST" enctype="multipart/form-data" name="photo-file">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Update Profile">
    </form>

    <script>
        const profPic = document.getElementById('prof-pic')
        let width = profPic.naturalWidth
        let height = profPic.naturalHeight
        console.log("prof-pic:", width, height)

        while (width > 400 || height > 400){
            console.log("too big")
            width *= .50
            height *= .50

            let widthString = JSON.stringify(width) + 'px'
            let heightString = JSON.stringify(height) + 'px'
            profPic.style["width"] = widthString
            profPic.style["height"] = heightString
            console.log(width, height)
            
        }

        while(width > 400 || height > 400){
            document.location.reload()
        }

    </script>



    

{% endblock %}